<div class="row">
  <div class="col-md-6 mx-auto mt-3">
    <h1 class="text-center">Mis trabajo</h1>
      <div class="trabajos">
        <div class="jumbotron jumbo">
          <button type="button"
                  name="button"
                  class="btn btn-primary float-right">
                  modificar

          </button>
          <div class="">
            <h2>Titulo del trabajo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nulla odio perferendis inventore consequuntur labore vero consectetur minus. Totam odit est itaque sunt possimus incidunt nam sequi a minus ipsum?</p>
            <button type="button"
                    name="button"
                    class="btn btn-primary">
              Saber mas
            </button>
          </div>
        </div>
      </div>
  </div>
</div>
