<div class="row">
  <div class="col-md-6 mx-auto mt-3">
    <h1 class="text-center">Mis trabajo</h1>
      <div class="trabajos">

        <div class="jumbotron jumbo" *ngFor="let trabajo of _dt.datos">
          <button type="button"
                  name="button"
                  class="btn btn-primary float-right">
                  modificar

          </button>
          <div class="">
            <h2>{{ trabajo.nombre_trabajo }}</h2>
            <p>{{ trabajo.descripcion_trabajo }}</p>
            <button type="button"
                    name="button"
                    class="btn btn-primary">
              Saber mas
            </button>
          </div>
        </div>


      </div>
  </div>
</div>
