<div class="row">

  <div class="col-md-6 mx-auto mt-3">
    <h1>Yobs</h1>
  </div>

</div>
<div class="row mt-3">
  <div class="col-md-6  ml-auto">
    <h1>Yo</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-6  ml-auto">
    <h1>Ofrezco</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto mr-3">
    <button class="btn btn-md saberMas" >
      <i class=""></i>
        Saber más
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-6  ml-auto">
    <h1>Busco o </h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-6  ml-auto">
    <h1>Soluciono</h1>
  </div>
</div>
