<div class="row">
  <div class="col-md-6 mx-auto mt-3">
    <h1 class="text-center">Mis trabajo</h1>
    <div class="container">
      <form>
        <div class="form-group">
          <label>Titulo de mi trabajo</label>
          <input
                type="text"
                class="form-control"
                id="titulo_trabajo"
                required>
        </div>

        <div class="form-group">
          <label>Descripción</label>
          <textarea class="form-control"
                    rows="5"
                    id="descripcion">

          </textarea>
        </div>

        <button type="submit"
                class="btn btn-success">
          Agregar nuevo trabajo
        </button>

      </form>
    </div>
  </div>
</div>
