<div class="row">
  <div class="col-md-6 mx-auto mt-3">
    <h1 class="text-center">Mis trabajo</h1>
    <div class="container">


      <form (ngSubmit)="guardar()" #forma="ngForm" >
        <div class="form-group">
          <label>Titulo de mi trabajo</label>
          <input [(ngModel)]="trabajo.nombre_trabajo"
                name="nombre"
                type="text"
                class="form-control"
                required>
        </div>

        <div class="form-group">
          <label>Descripción</label>
          <textarea [(ngModel)]="trabajo.descripcion_trabajo"
                    name="descripcion_trabajo"
                    class="form-control"
                    rows="5"
                    id="descripcion">

          </textarea>
        </div>

        <button [disabled]="!forma.valid"
                type="submit"
                class="btn btn-success">
          Agregar nuevo trabajo
        </button>

      </form>
    </div>
  </div>
</div>
